<div class="example-boundary">
<mat-sidenav-container class="example-container
" *ngIf="shouldRun">
    <mat-sidenav mode="side" opened>
        <mat-checkbox cdkDrag>Check me!</mat-checkbox>
        <br>
        <mat-radio-group cdkDrag>
            <mat-radio-button value="1">Option 1</mat-radio-button>
            <mat-radio-button value="2">Option 2</mat-radio-button>
        </mat-radio-group>
        <br>
  

     
            <input matInput placeholder="Favorite food" value="Sushi" cdkDrag cdkDragBoundary=".example-boundary">
            <br>
        <br>
        <br>
            <textarea matInput placeholder="Leave a comment" cdkDrag></textarea>
            <br>
    </mat-sidenav>
    <mat-sidenav-content>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let movie of movies" cdkDrag>
                {{movie.type}}
            <table>
                <tr><td><span>aaa</span></td><td><input type = "text"></td></tr>
            </table>

            </div>
          </div>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>  
